@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #0e101a;
  --primary-color: #576ee0;
  --container-color: #1d2135;
  --text-dom-color: #ffffff;
  --text-in-color: #0e101a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-dom-color);
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
  overflow-x: hidden;
}

.body-bg {
  background-color: var(--body-color);
}

.body-color {
  color: var(--body-color);
}

.primary-color {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.container-bg {
  background-color: var(--container-color);
}
.container-color {
  color: var(--container-color);
}

.exp__job-task > li {
  list-style-type: circle;
}

.skill__list {
  font-weight: 700;
  color: var(--primary-color);
}
